<%
    def getChart
        chartData = "<chart caption='Harry&#39;s SuperMart' 
                            subcaption='Monthly revenue for last year' xaxisname='Month' 
                            yaxisname='Amount' numberprefix='¥' theme='fusion' 
                            rotatevalues='1' exportenabled='1'>
                        <set label='Jan' value='420000' />
                        <set label='Feb' value='810000' />
                        <set label='Mar' value='720000' />
                        <set label='Apr' value='550000' />
                        <set label='May' value='910000' />
                        <set label='Jun' value='510000' />
                        <set label='Jul' value='680000' />
                        <set label='Aug' value='620000' />
                        <set label='Sep' value='610000' />
                        <set label='Oct' value='490000' />
                        <set label='Nov' value='900000' />
                        <set label='Dec' value='730000' />
                    </chart>"

        # Chart rendering 
        chart = Fusioncharts::Chart.new({
                width: "700",
                height: "400",
                type: "column2d",
                renderAt: "chartContainer",
                dataFormat: "xml",
                dataSource: chartData
            })
    end
%>

<h3>Chart using special character in XML data format</h3>
<div id="chartContainer"></div>
<%= getChart.render() %>
<br/>
<br/>
<a href="index">Go Back</a>
